{% for dept,employees in dept_employees.items %}

{% if user.is_superuser %}
    <h2> All Employees:</h2>
{% else %}
    <h2>{{ dept.dept_name }} Department Employees:</h2>
{% endif %}
<br/>
<script>
    $(document).ready(function() {
        $("#"+"{{ dept.dept_no }}_employee_table").dataTable();

        $( "#id_hire_gte" ).datepicker();
        $( "#id_hire_gte" ).datepicker( "option", "dateFormat", 'yy-mm-dd' )

        $( "#id_hire_lte" ).datepicker();
        $( "#id_hire_lte" ).datepicker( "option", "dateFormat", 'yy-mm-dd' )

    } );
</script>
<form method="POST" class="horizontal">
    {% csrf_token %}
    <table class="table table-striped table-bordered table-condensed" id="{{ dept.dept_no }}_employee_table_filter">
        <thead>
        <tr>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Job Title</th>
            <th>Hire Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ form.first_name }}</td>
            <td>{{ form.last_name }}</td>
            <td>{{ form.gender }}</td>
            <td>{{ form.title }}</td>
            <td>After: {{ form.hire_gte }} <br/>
                Before: {{ form.hire_lte }} </td>

        </tr>
        </tbody>
    </table>
    <p>Note: the 'First Name' and 'Last Name' filter fields, filter on exact (case insensitive) matches. </p>
    <input type="submit" value="Apply Filter" class="btn btn-primary" data-loading-text="applying filter..."/>


</form>
    <p>The results table below shows a maximum of 500 matched queries. If the entry you are looking for does not
        appear below, apply a filter to narrow down your selection.</p>
<table class="table table-striped table-bordered table-condensed" id="{{ dept.dept_no }}_employee_table">
    <thead>
    <tr>
        <th>View</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Job Title</th>
        <th>Hire Date</th>
    </tr>
    </thead>
    <tbody>


    {% for employee in employees %}
        <tr>
            <td><a href="{% url profile-spec-url emp_id=employee.emp_no %}">View Details</a></td>
            <td>{{employee.first_name}}</td>
            <td>{{employee.last_name}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.title}}</td>
            <td>{{employee.hire_date|date:"Y-m-d" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endfor %}