<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>

    <link href="{{STATIC_URL}}css/bootstrap.css" rel="Stylesheet">
    <link href="{{STATIC_URL}}css/jQuery/jquery-ui-1.8.23.custom.css" rel="Stylesheet">
    <link href="{{STATIC_URL}}css/iress.css" rel="Stylesheet">

    <script src="{{STATIC_URL}}js/jquery-min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui-min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>

    {% block head %}{% endblock %}

</head>

<body>
    {% block body %}

        {% block top_navbar %} {% include 'site_nav.html' %} {% endblock %}

        {% block subnav %}{% endblock %}

        {% block content %}{% endblock %}

    {% endblock %}

</body>

</html>
