<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">

            <a class="brand" href="/">
                Employee DB
            </a>

            {% if user.is_authenticated %}

                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    {% if user.is_superuser %}
                        <li><a href="/admin/">Admin</a></li>
                    {% endif %}
                    {% if user.employees_set.get %}
                        <li><a href="{% url profile-url %}">Profile</a></li>
                    {% endif %}
                    {% if user.employees_set.get.is_manager or user.is_superuser %}
                        <li><a href="{% url manager-url %}">Manage</a></li>
                    {% endif %}
                </ul>

                <p class="navbar-text pull-right">
                    Logged in as {{user}}, <a href="/logout/">Logout</a></p>
                </p>

            {% endif %}


        </div>
    </div>

</div>