{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
                <div class="span12">
                    {% include 'employees/tables/dept_employee_tbl.html' %}
                </div>
        </div>
    </div>
{% endblock %}

