{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
                <div class="span12">
                    <h2>Employee Profile</h2>
                    <br/>
                    {% if profile %}
                    <table class="table table-striped table-bordered table-condensed" id="employee_table">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Current Department(s)</th>
                            <th>Job Title</th>
                            <th>Hire Date</th>
                            <th>Years With Company</th>
                            <th>Birthday</th>
                            <th>Age</th>
                            <th>Salary</th>
                        </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>{{profile.first_name}}</td>
                                <td>{{profile.last_name}}</td>
                                <td>{{profile.gender}}</td>
                                <td>
                                    {% for department in profile.department.all %}
                                        {{ department.dept_name }},
                                    {% endfor %}
                                </td>
                                <td>{{ title }}</td>
                                <td>{{ profile.hire_date }}</td>
                                <td>{{ profile.yrs_with_company }}</td>
                                <td>{{ profile.birth_date }}</td>
                                <td>{{ profile.age }}</td>
                                <td>{{ salary }}</td>
                            </tr>

                        </tbody>
                    </table>
                    {% else %}
                        <p>There has been a problem retrieving this employee data.</p>
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock %}

