{% if form %}
    <h2> Reset your password:</h2>
    <form method="POST" class="horizontal">
        {% csrf_token %}
        {{ form }}
        {% if error %}
            <br/>
            {{ error }}
        {% endif %}
        <br/>
        <input type="submit" value="Reset" class="btn btn-primary" data-loading-text="resetting password..."/>
    </form>
{% endif %}

