{% if form %}
    <h2>Sign in:</h2>
    <form method="POST" class="horizontal">
        {% csrf_token %}
        {{ form }}
        <br/>
        {{ error }}
        <br />
        <input type="submit" value="Login" class="btn btn-primary" data-loading-text="logging in..."/>
    </form>
{% endif %}