{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            {% if user.is_authenticated %}
                <div class="span8">
                    <h2>Welcome to Employee DB</h2>
                    <p> Here you can search, filter, examine, and explore all manner of things related to this company's employees.</p>
                </div>
                <div class="span4">

                </div>
            {% else %}
                <div class="span8">
                    <h2>Welcome to Employee DB</h2>
                    <p> Here you can search, filter, examine, and explore all manner of things related to this company's employees.</p>
                </div>
                <div class="span4">
                    {% include 'site/form_signin.html' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

