{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">

            </div>
            <div class="span4">
                {% include 'site/form_resetpassword.html' %}
            </div>
        </div>
    </div>
{% endblock %}

